/*-- scss:defaults --*/
// fonts
$font-family-sans-serif: "Book Antiqua" !default;

// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color: #0000EE !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Book Antiqua" !default;
$presentation-heading-color: #383d3d !default;
$presentation-h1-font-size: 2em;
$presentation-block-margin: 10px;
$presentation-heading-line-height: 1.3;

/*-- scss:rules --*/

.reveal .subtitle {
  font-size: 1.3em;
}
.reveal .date {
  font-style: italic;
  font-size: 30px;
}

.reveal {
  width: 100%;
  height: 100%;
}

// codes 

code {
  font-size: 30px;
}
